<th:block th:insert="~{fragments/header}"></th:block>
<style>
	input{
		color: white;	
	}
</style>
<body>
    <div id="login-container">
        <div id="login">
    		<form th:action="@{/forgot-password}" method="post">
				<div class="input-group">
         			<label for="email">Enter Your Email Address</label>
        			<input type="email" id="email" name="email" required>
				</div>
				<div class="buttons">   
       		 		<button type="submit">Send Reset Link</button>
				</div>
    </form>
		<p style="color: green;" th:text="${successMessage}"></p>
	   <p style="color: red;" th:text="${errorMessage}"></p>
    </div>
    </div>
    
   
</body>
</html>
<th:block th:insert="~{fragments/footer}"></th:block>
	